.App {
    text-align: center;
}

/* body {
    background-image: url(/src/images/sparrow.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
} */

